<!DOCTYPE html>
<head>
  <title>AI</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='dall-e-2.jpg') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>
<body>

  <img src="{{ url_for('static', filename='download.png') }}" class="icon" />

  <form action="/" method="post">
    <input type="text" name="human" placeholder="chat with me here"  />
    <input type="submit" value="Send" />
  </form>
  {% if result %}
  <div class="result"> <hr>{{ result }}</div>
  {% endif %}

  <div class="chat-container">
    <h1>AI Chatbot </h1>
    <h2>{{ UID }}</h2>

    <div class="chat-history">
        {% for message in chat_history.split('\n') %}
            <div class="message">
                {{ message }}
            </div>
        {% endfor %}
    </div>
  </div>  



</body>
